<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>我的钱包</string>
		<key>image</key>
		<string>cen1</string>
		<key>isHidden</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>我的订单</string>
		<key>image</key>
		<string>cen2</string>
		<key>isHidden</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>我的卡券</string>
		<key>image</key>
		<string>cen3</string>
		<key>isHidden</key>
		<true/>
	</dict>
</array>
</plist>
