<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>section</key>
			<string>1</string>
			<key>image</key>
			<string>cen21</string>
			<key>title</key>
			<string>团购订单</string>
			<key>tagValue</key>
			<integer>50</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<true/>
		</dict>
		<dict>
			<key>section</key>
			<string>1</string>
			<key>image</key>
			<string>cen22</string>
			<key>title</key>
			<string>外卖订单</string>
			<key>tagValue</key>
			<integer>51</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<true/>
		</dict>
		<dict>
			<key>section</key>
			<string>1</string>
			<key>image</key>
			<string>cen23</string>
			<key>title</key>
			<string>快店订单</string>
			<key>tagValue</key>
			<integer>52</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<true/>
		</dict>
		<dict>
			<key>section</key>
			<string>1</string>
			<key>image</key>
			<string>cen24</string>
			<key>title</key>
			<string>预约订单</string>
			<key>tagValue</key>
			<integer>53</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<true/>
		</dict>
		<dict>
			<key>section</key>
			<string>1</string>
			<key>image</key>
			<string>cen25</string>
			<key>title</key>
			<string>分类信息订单</string>
			<key>tagValue</key>
			<integer>54</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<true/>
		</dict>
		<dict>
			<key>section</key>
			<string>1</string>
			<key>image</key>
			<string>cen26</string>
			<key>title</key>
			<string>到店付订单</string>
			<key>tagValue</key>
			<integer>55</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<true/>
		</dict>
		<dict>
			<key>section</key>
			<string>1</string>
			<key>image</key>
			<string>cen27</string>
			<key>title</key>
			<string>礼品订单</string>
			<key>tagValue</key>
			<integer>56</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>section</key>
			<string>2</string>
			<key>image</key>
			<string>cen31</string>
			<key>title</key>
			<string>平台优惠券</string>
			<key>tagValue</key>
			<integer>57</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<false/>
		</dict>
		<dict>
			<key>section</key>
			<string>2</string>
			<key>image</key>
			<string>cen32</string>
			<key>title</key>
			<string>商家优惠券</string>
			<key>tagValue</key>
			<integer>58</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<false/>
		</dict>
		<dict>
			<key>section</key>
			<string>2</string>
			<key>image</key>
			<string>cen33</string>
			<key>title</key>
			<string>会员卡</string>
			<key>tagValue</key>
			<integer>59</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<false/>
		</dict>
		<dict>
			<key>section</key>
			<string>2</string>
			<key>image</key>
			<string>cen34</string>
			<key>title</key>
			<string>参与活动</string>
			<key>tagValue</key>
			<integer>60</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>section</key>
			<string>3</string>
			<key>image</key>
			<string>cen4</string>
			<key>title</key>
			<string>关注商家</string>
			<key>tagValue</key>
			<integer>0</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<true/>
		</dict>
		<dict>
			<key>section</key>
			<string>3</string>
			<key>image</key>
			<string>cen5</string>
			<key>title</key>
			<string>团购收藏</string>
			<key>tagValue</key>
			<integer>0</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<true/>
		</dict>
		<dict>
			<key>section</key>
			<string>3</string>
			<key>image</key>
			<string>cen6</string>
			<key>title</key>
			<string>快店收藏</string>
			<key>tagValue</key>
			<integer>0</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<true/>
		</dict>
		<dict>
			<key>section</key>
			<string>3</string>
			<key>image</key>
			<string>cen7</string>
			<key>title</key>
			<string>预约收藏</string>
			<key>tagValue</key>
			<integer>0</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>section</key>
			<string>4</string>
			<key>image</key>
			<string>cen8</string>
			<key>title</key>
			<string>我的推广</string>
			<key>tagValue</key>
			<integer>0</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<true/>
		</dict>
		<dict>
			<key>section</key>
			<string>4</string>
			<key>image</key>
			<string>cen9</string>
			<key>title</key>
			<string>我的发布</string>
			<key>tagValue</key>
			<integer>0</integer>
			<key>count</key>
			<integer>0</integer>
			<key>isHiddenLastInfo</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
